${head}
<html lang="en">
	<body class="container"> 

        <h1>Little Wins!!</h1>

        <form method="POST">
            <label>
                Name
                <input name="title" type="text" autofocus />
            </label>
            <br>
            <lable>
                Type of Win
                <select name="category">
                    <option value="dev">Tech/Programming</option>
                    <option value="family">Family Stuff</option>
                    <option value="life">Life, in general</option>
    
                </select>
                </label>
                <br>

     
                <br>
                <input class="btn btn-success" type="submit" value="do it" />
    </body>
</html>
${foot}